@page "/"

@using Microsoft.Extensions.Logging
@using Soenneker.Blazor.Stripe.Elements.Configuration
@using Soenneker.Blazor.Stripe.Elements.Configuration.Address
@using Soenneker.Blazor.Stripe.Elements.Configuration.Appearance
@using Soenneker.Blazor.Stripe.Elements.Configuration.Elements
@using Soenneker.Blazor.Stripe.Elements.Configuration.Initialization
@using Soenneker.Blazor.Stripe.Elements.Configuration.LinkAuthentication
@using Soenneker.Blazor.Stripe.Elements.Configuration.Payment
@using Soenneker.Blazor.Stripe.Elements.Enums
@using Soenneker.Dtos.Stripe.Error
@using Soenneker.Enums.CurrencyCodes
@using Soenneker.Utils.AutoBogus

@inject ILogger<Index> Logger

<PageTitle>Stripe Elements Demo</PageTitle>

<Div Space="Space.Y.Is6">
    <StripeElements @ref="_stripeElements" Configuration="_config">
        <StripeAddressElement />
        <StripeLinkAuthenticationElement />
        <StripePaymentElement />

        <Button Loading="_buttonLoading" OnClick="Submit">Submit</Button>
    </StripeElements>

    <Div Border="Border.Is1.FromTop" BorderColor="BorderColor.Border" Padding="Padding.Is4.FromTop">
        <Anchor To="/second" TextSize="TextSize.Sm">Second page</Anchor>
    </Div>
</Div>

@code {
    private StripeElements? _stripeElements;
    private bool _buttonLoading;
    private StripeElementsConfiguration? _config;

    public AutoFaker AutoFaker { get; set; } = new();

    protected override void OnInitialized()
    {
        _config = new StripeElementsConfiguration
        {
            PublishableKey = "pk_test_51RAbNTHFEwQJtYP8N24BoijiCt43QWexDVyOm6yuhE0z5rVHEM0GZsDrAaN53n1kWCHGC1aPV5LIHB4pTB3us8BN00O0Pa4j1g",

            InitializationOptions = new StripeInitializationOptions
            {
                DeveloperTools = new StripeDeveloperToolsOptions
                {
                    Assistant = new StripeDeveloperAssistantOptions { Enabled = true }
                }
            },

            ElementsOptions = new StripeElementsOptions
            {
                Appearance = new StripeAppearance
                {
                    Theme = StripeElementsTheme.Flat,
                    Variables = new Dictionary<string, string> { ["borderRadius"] = "0px", }
                },
                Locale = "auto",
                Mode = StripeElementsMode.Setup,
                Currency = CurrencyCode.Usd
            },

            LinkAuthenticationOptions = new StripeLinkAuthenticationOptions
            {
                DefaultValues = new StripeLinkAuthenticationDefaultValues
                {
                    Email = "test@example.com"
                }
            },

            PaymentOptions = new StripePaymentElementOptions
            {
                Layout = new StripePaymentElementLayout { Type = StripePaymentElementLayoutType.Tabs }
            },

            AddressOptions = new StripeAddressOptions
            {
                Mode = StripeAddressMode.Billing,
                DefaultValues = new StripeAddressDefaultValues
                {
                    Name = AutoFaker.Faker.Person.FullName,
                    Address = new StripeAddressDetails
                    {
                        Line1 = AutoFaker.Faker.Address.StreetAddress(),
                        City = AutoFaker.Faker.Address.City(),
                        State = AutoFaker.Faker.Address.State(),
                        Country = "US",
                        PostalCode = AutoFaker.Faker.Address.ZipCode()
                    }
                },
                AllowedCountries = ["US", "CA"],
                Fields = new StripeAddressFields
                {
                    Phone = StripeAddressFieldsPhoneOption.Auto
                }
            }
        };
    }

    private async Task Submit()
    {
        _buttonLoading = true;

        try
        {
            await _stripeElements!.Submit();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error validating payment");
            _buttonLoading = false;
        }
    }

    public async Task StripeValidatePaymentCallback(StripeErrorDto? stripeErrorDto)
    {
        if (stripeErrorDto != null)
        {
            _buttonLoading = false;
            StateHasChanged();
            return;
        }

        await ConfirmPayment();
    }

    private async Task ConfirmPayment()
    {
        await _stripeElements!.ConfirmPayment("intent", "https://localhost:7039");
    }

    public async Task StripeSubmitPaymentCallback(StripeErrorDto? stripeErrorDto)
    {
        if (stripeErrorDto != null)
        {
            _buttonLoading = false;
            StateHasChanged();
        }
    }
}
