@page "/"

@using Microsoft.Extensions.Logging
@using Soenneker.Blazor.Stripe.Elements.Configuration
@using Soenneker.Blazor.Stripe.Elements.Configuration.Address
@using Soenneker.Blazor.Stripe.Elements.Configuration.Appearance
@using Soenneker.Blazor.Stripe.Elements.Configuration.Elements
@using Soenneker.Blazor.Stripe.Elements.Configuration.Initialization
@using Soenneker.Blazor.Stripe.Elements.Configuration.LinkAuthentication
@using Soenneker.Blazor.Stripe.Elements.Configuration.Payment
@using Soenneker.Blazor.Stripe.Elements.Dtos
@using Soenneker.Blazor.Stripe.Elements.Enums
@using Soenneker.Enums.CurrencyCodes
@using Soenneker.Utils.AutoBogus

@inject ILogger<Index> Logger

<PageTitle>Stripe Elements Demo</PageTitle>

<Div Space="Space.Y.Is6">
    <StripeElements @ref="_stripeElements"
                    Configuration="_config"
                    OnAfterSubmit="StripeValidatePaymentCallback"
                    OnAfterConfirmPayment="StripeSubmitPaymentCallback"
                    OnAfterConfirmSetup="StripeSubmitPaymentCallback"
                    OnAfterConfirmCheckout="StripeSubmitPaymentCallback">
        <StripeAddressElement />
        <StripeLinkAuthenticationElement />
        <StripePaymentElement />

        <Button Loading="_buttonLoading" OnClick="Submit">Submit</Button>
    </StripeElements>

    <Div Border="Border.Is1.FromTop" BorderColor="BorderColor.Border" Padding="Padding.Is4.FromTop">
        <Anchor To="/second" TextSize="TextSize.Sm">Second page</Anchor>
    </Div>
</Div>

@code {
    private StripeElements? _stripeElements;
    private bool _buttonLoading;
    private StripeElementsConfiguration? _config;

    public AutoFaker AutoFaker { get; set; } = new();

    protected override void OnInitialized()
    {
        _config = new StripeElementsConfiguration
        {
            PublishableKey = "",

            InitializationOptions = new StripeInitializationOptions
            {
                DeveloperTools = new StripeDeveloperToolsOptions
                {
                    Assistant = new StripeDeveloperAssistantOptions { Enabled = true }
                }
            },

            ElementsOptions = new StripeElementsOptions
            {
                Appearance = new StripeAppearance
                {
                    Theme = StripeElementsTheme.Flat,
                    Variables = new Dictionary<string, string> { ["borderRadius"] = "0px", }
                },
                Locale = "auto",
                Mode = StripeElementsMode.Setup,
                Currency = CurrencyCode.Usd
            },

            LinkAuthenticationOptions = new StripeLinkAuthenticationOptions
            {
                DefaultValues = new StripeLinkAuthenticationDefaultValues
                {
                    Email = "test@example.com"
                }
            },

            PaymentOptions = new StripePaymentElementOptions
            {
                Layout = new StripePaymentElementLayout { Type = StripePaymentElementLayoutType.Tabs }
            },

            AddressOptions = new StripeAddressOptions
            {
                Mode = StripeAddressMode.Billing,
                DefaultValues = new StripeAddressDefaultValues
                {
                    Name = AutoFaker.Faker.Person.FullName,
                    Address = new StripeAddressDetails
                    {
                        Line1 = AutoFaker.Faker.Address.StreetAddress(),
                        City = AutoFaker.Faker.Address.City(),
                        State = AutoFaker.Faker.Address.State(),
                        Country = "US",
                        PostalCode = AutoFaker.Faker.Address.ZipCode()
                    }
                },
                AllowedCountries = ["US", "CA"],
                Fields = new StripeAddressFields
                {
                    Phone = StripeAddressFieldsPhoneOption.Auto
                }
            }
        };
    }

    private async Task Submit()
    {
        _buttonLoading = true;

        try
        {
            await _stripeElements!.Submit();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error validating payment");
            _buttonLoading = false;
            StateHasChanged();
        }
    }

    public async Task StripeValidatePaymentCallback(StripeSubmitResult? submitResult)
    {
        if (submitResult?.Error != null)
        {
            _buttonLoading = false;
            StateHasChanged();
            return;
        }

        if (_config?.CheckoutSessionOptions != null)
        {
            await _stripeElements!.ConfirmCheckout("https://localhost:7039");
            return;
        }

        if (_config?.ElementsOptions.ClientSecret == null)
        {
            _buttonLoading = false;
            StateHasChanged();
            return;
        }

        await _stripeElements!.ConfirmSetup("https://localhost:7039");
    }

    public Task StripeSubmitPaymentCallback(StripeConfirmResult? confirmResult)
    {
        if (confirmResult?.Error != null)
            Logger.LogWarning("Stripe confirmation failed: {Message}", confirmResult.Error.Message);

        _buttonLoading = false;
        StateHasChanged();

        return Task.CompletedTask;
    }
}
