@page "/second"
@using Soenneker.Blazor.Stripe.Elements.Configuration
@using Soenneker.Blazor.Stripe.Elements.Configuration.Address
@using Soenneker.Blazor.Stripe.Elements.Configuration.Appearance
@using Soenneker.Blazor.Stripe.Elements.Configuration.Elements
@using Soenneker.Blazor.Stripe.Elements.Configuration.Initialization
@using Soenneker.Blazor.Stripe.Elements.Configuration.LinkAuthentication
@using Soenneker.Blazor.Stripe.Elements.Configuration.Payment
@using Soenneker.Blazor.Stripe.Elements.Enums
@using Soenneker.Enums.CurrencyCodes
@using Soenneker.Utils.AutoBogus

<Container>
    <img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
    <h1>Soenneker.Blazor.Stripe.Elements demo</h1>
    <p>This page demonstrates some of the common usages for the interop library.</p>

    <StripeElements StripeElementsConfiguration="_config" >
        <StripeAddressElement></StripeAddressElement>
        <StripeLinkAuthenticationElement></StripeLinkAuthenticationElement>
        <StripePaymentElement></StripePaymentElement>
        <Button>Submit</Button>
    </StripeElements>

    <br />
    <hr />
    <Anchor To="/" >Go to index</Anchor>
</Container>


@code{
    public AutoFaker AutoFaker { get; set; } = new();

    private StripeElementsConfiguration? _config;

    protected override void OnInitialized()
    {
        _config = new StripeElementsConfiguration
        {
            PublishableKey = "",

            InitializationOptions = new StripeInitializationOptions
            {
                DeveloperTools = new StripeDeveloperToolsOptions
                {
                    Assistant = new StripeDeveloperAssistantOptions
                    {
                        Enabled = true
                    }
                }
            },

            ElementsOptions = new StripeElementsOptions
            {
                Appearance = new StripeAppearance
                {
                    Theme = StripeElementsTheme.Flat
                },
                Locale = "auto",
                Mode = StripeElementsMode.Setup,
                Currency = CurrencyCode.Usd
            },

            LinkAuthenticationOptions = new StripeLinkAuthenticationOptions
            {
                DefaultValues = new StripeLinkAuthenticationDefaultValues
                {
                    Email = "test@example.com"
                },
            },
            PaymentOptions = new StripePaymentElementOptions
            {
                Layout = new StripePaymentElementLayout {Type = StripePaymentElementLayoutType.Tabs}
            },
            AddressOptions = new StripeAddressOptions
            {
                Mode = StripeAddressMode.Billing,
                DefaultValues = new StripeAddressDefaultValues
                {
                    Name = AutoFaker.Faker.Person.FullName,
                    Address = new StripeAddressDetails
                    {
                        Line1 = AutoFaker.Faker.Address.StreetAddress(),
                        City = AutoFaker.Faker.Address.City(),
                        State = AutoFaker.Faker.Address.State(),
                        Country = "US"
                    }
                },
                AllowedCountries =
                [
                    "US",
                    "CA"
                ],
                Fields = new StripeAddressFields
                {
                    Phone = StripeAddressFieldsPhoneOption.Auto
                }
            }
        };
    }


}