@using System.Threading
@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop
@using Soenneker.Blazor.Stripe.Elements.Abstract
@using Soenneker.Blazor.Stripe.Elements.Configuration
@using Soenneker.Dtos.Stripe.Error
@using Soenneker.Extensions.Task
@using Soenneker.Extensions.ValueTask
@using Soenneker.Blazor.Extensions.EventCallback

@inject IStripeElementsInterop StripeElementsInterop
@inject ILogger<StripeElements> Logger

@implements IStripeElements

<div id="@ElementId" @attributes="Attributes" >
    <CascadingValue Value="ElementIds">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?>? Attributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnInitialize { get; set; }

    [Parameter]
    public EventCallback<StripeErrorDto?> OnValidatePayment { get; set; }

    [Parameter]
    public EventCallback<StripeErrorDto?> OnSubmitPayment { get; set; }

    [Parameter]
    public EventCallback<StripeErrorDto?> OnSubmitSetup { get; set; }

    public string ElementId { get; set; } = $"stripe-elements-{Guid.NewGuid()}";

    private readonly CancellationTokenSource _cTs = new();

    private DotNetObjectReference<StripeElements>? _dotNetReference;

    [Parameter]
    public StripeElementsConfiguration? Configuration { get; set; }

    [Parameter]
    public bool Log { get; set; }

    public Dictionary<Type, string> ElementIds { get; set; } = new()
    {
        {typeof(StripeAddressElement), $"stripe-address-{Guid.NewGuid()}"},
        {typeof(StripeLinkAuthenticationElement), $"stripe-link-auth-{Guid.NewGuid()}"},
        {typeof(StripePaymentElement), $"stripe-payment-{Guid.NewGuid()}"}
    };

    private bool _initialized;

    protected override async Task OnInitializedAsync()
    {
        await StripeElementsInterop.Initialize(_cTs.Token).NoSync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Initialize(null, _cTs.Token).NoSync();
        }
    }

    public async ValueTask Initialize(StripeElementsConfiguration? configuration = null, CancellationToken cancellationToken = default)
    {
        _initialized = true;

        if (configuration != null)
            Configuration = configuration;

        if (Configuration == null)
        {
            if (Log)
                Logger.LogError("Configuration is required, exiting initialization");

            return;
        }

        if (Configuration.AddressElementId == null)
            ElementIds[typeof(StripeAddressElement)] = $"stripe-address-{Guid.NewGuid()}";
        if (Configuration.LinkAuthenticationElementId == null)
            ElementIds[typeof(StripeLinkAuthenticationElement)] = $"stripe-link-auth-{Guid.NewGuid()}";
        if (Configuration.PaymentElementId == null)
            ElementIds[typeof(StripePaymentElement)] = $"stripe-payment-{Guid.NewGuid()}";

        Configuration.AddressElementId ??= ElementIds[typeof(StripeAddressElement)];
        Configuration.LinkAuthenticationElementId ??= ElementIds[typeof(StripeLinkAuthenticationElement)];
        Configuration.PaymentElementId ??= ElementIds[typeof(StripePaymentElement)];

        _dotNetReference = DotNetObjectReference.Create(this);

        using CancellationTokenSource? linkedCts = cancellationToken != _cTs.Token ? CancellationTokenSource.CreateLinkedTokenSource(cancellationToken, _cTs.Token) : null;

        CancellationToken token = linkedCts?.Token ?? _cTs.Token;

        await StripeElementsInterop.Create(ElementId, _dotNetReference, Configuration, token).NoSync();
        await StripeElementsInterop.CreateObserver(ElementId, token).NoSync();
    }

    public async ValueTask ValidatePayment(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Stripe Elements has not been initialized yet.");

        using var linkedCts = CancellationTokenSource.CreateLinkedTokenSource(cancellationToken, _cTs.Token);
        await StripeElementsInterop.ValidatePayment(ElementId, _dotNetReference!, linkedCts.Token).NoSync();
    }

    public async ValueTask ConfirmPayment(string paymentIntentClientSecret, string returnUrl, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Stripe Elements has not been initialized yet.");

        using var linkedCts = CancellationTokenSource.CreateLinkedTokenSource(cancellationToken, _cTs.Token);
        await StripeElementsInterop.ConfirmPayment(ElementId, paymentIntentClientSecret, returnUrl, _dotNetReference!, linkedCts.Token).NoSync();
    }

    public async ValueTask ConfirmSetup(string setupIntentClientSecret, string returnUrl, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Stripe Elements has not been initialized yet.");

        using var linkedCts = CancellationTokenSource.CreateLinkedTokenSource(cancellationToken, _cTs.Token);
        await StripeElementsInterop.ConfirmSetup(ElementId, setupIntentClientSecret, returnUrl, _dotNetReference!, linkedCts.Token).NoSync();
    }

    public async ValueTask Unmount(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Stripe Elements has not been initialized yet.");

        using var linkedCts = CancellationTokenSource.CreateLinkedTokenSource(cancellationToken, _cTs.Token);
        await StripeElementsInterop.Unmount(ElementId, linkedCts.Token).NoSync();
    }

    [JSInvokable("OnInitializedJs")]
    public async Task OnInitializedJs()
    {
        await OnInitialize.InvokeIfHasDelegate().NoSync();
    }

    [JSInvokable("OnValidatePaymentJs")]
    public async Task OnValidatePaymentJs(StripeErrorDto? error)
    {
        if (OnValidatePayment.HasDelegate)
            await OnValidatePayment.InvokeAsync(error).NoSync();
    }

    [JSInvokable("OnSubmitPaymentJs")]
    public async Task OnSubmitPaymentJs(StripeErrorDto? error)
    {
        if (OnSubmitPayment.HasDelegate)
            await OnSubmitPayment.InvokeAsync(error).NoSync();
    }

    [JSInvokable("OnSubmitSetupJs")]
    public async Task OnSubmitSetupJs(StripeErrorDto? error)
    {
        if (OnSubmitSetup.HasDelegate)
            await OnSubmitSetup.InvokeAsync(error).NoSync();
    }

    public async ValueTask DisposeAsync()
    {
        GC.SuppressFinalize(this);

        _dotNetReference?.Dispose();

        await _cTs.CancelAsync().NoSync();
    }

}